# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
Guide

audio-player/node_modules
eight-randomuser/node_modules
eleven-realtime-db-firebase/node_modules
five-themeswitcher/node_modules
four-tictactoe/node_modules
Guide/node_modules
music-player/node_modules
nine-shoppingcart/node_modules
npm-debug.log/node_modules
one-helloworld/node_modules
seven-localstorage/node_modules
side-one-context/node_modules
six-context-reducer-todo/node_modules
ten-firebase-github-app/node_modules
three-state-counter/node_modules
twelve-router6/node_modules
two-website/node_modules
youtube_clone/node_modules

audio-player/.git
eight-randomuser/.git
eleven-realtime-db-firebase/.git
five-themeswitcher/.git
four-tictactoe/.git
Guide/.git
music-player/.git
nine-shoppingcart/.git
npm-debug.log/.git
one-helloworld/.git
seven-localstorage/.git
side-one-context/.git
six-context-reducer-todo/.git
ten-firebase-github-app/.git
three-state-counter/.git
twelve-router6/.git
two-website/.git
youtube_clone/.git

audio-player/.gitignore
eight-randomuser/.gitignore
eleven-realtime-db-firebase/.gitignore
five-themeswitcher/.gitignore
four-tictactoe/.gitignore
Guide/.gitignore
music-player/.gitignore
nine-shoppingcart/.gitignore
npm-debug.log/.gitignore
one-helloworld/.gitignore
seven-localstorage/.gitignore
side-one-context/.gitignore
six-context-reducer-todo/.gitignore
ten-firebase.gitignorehub-app/.gitignore
three-state-counter/.gitignore
twelve-router6/.gitignore
two-website/.gitignore
youtube_clone/.gitignore




/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
